<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body onload="datosUsuario()">


            <div class="container">    
                  <div class="row">
                      <div class="panel panel-default">
                      <div class="panel-heading" id="_id" name="_id">  <h4 >cedula: <%=usuario.id %> </h4></div>
                       <div class="panel-body">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                       <img alt="User Pic" src="https://source.unsplash.com/featured/300x201" id="profile-image1" class="img-circle img-responsive"> 
                     
                       
                      
                      
                        
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                          <div class="container" >
                            <h2 id="nombre" name="nombre"> 

                            </h2>
                            <p><%= usuario.nombre %></p>

                          </div>
                           <hr>
                          <ul class="container details" >
                            <li><p name="apellido" id="apellido"><span class="glyphicon glyphicon-user one" style="width:50px;"></span><%= usuario.nombre %>  <%=usuario.apellido %></p></li>
                            <li><p name="correo" id="correo"><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><%= usuario.correo %></p></li>
                          </ul>
                          <hr>
                          <div class="col-sm-5 col-xs-6 tital " name="" >Date Of Joining: 15 Jun 2016</div>
                      </div>
                </div>
            </div>
            </div>
            

                


</body>
</html>